body {
    	background: no-repeat center center fixed url(../images/X-wing.png);
    	background-size: cover;
    	text-align: center;
    	color: grey;	
 }
 .col-md-2 {
 	margin-right: -32px;
 	margin-top: 70px;
 }
 .caption h3 {
 	font-size: 12px;
 	width: 100%;
    position: relative;
    top: -57px;
    text-align: center;	
 }
 .caption p {
  width: 100%;
  position: relative;
  top: 36px;
  text-align: center;	
 }
 .thumbnail {
 	position: relative;
 	padding: 15px;
 	border: solid 5px green;
 }
 .thumbnail>img {
 	margin-bottom: -72%;
 }
 #obiWan {
 	margin-left: -50%px;
 }