body {
  background: no-repeat center center fixed url(../images/X-wing.png);
  background-size: cover;
  text-align: center;
  color: grey;	
 }
 h1 {
 	color: black;
 }
 h2 {
 	padding-left: 0px;
 	margin-top: -10px;
 	text-align: left;
 	color: black;
 }
 .col-md-2 {
 	margin-right: -32px;
 	margin-top: 70px;
 }
 .caption h3 {
 	font-size: 12px;
 	width: 100%;
    position: relative;
    top: -57px;
    text-align: center;	
 }
 .caption p {
  width: 100%;
  position: relative;
  top: 36px;
  text-align: center;	
 }
 .thumbnail {
 	position: relative;
 	padding: 15px;
 	border: solid 5px green;
  outline: 5px solid green;
 }
 .thumbnail>img {
 	margin-bottom: -72%;
 }
 #obiWan {
 	margin-left: -50%px;
 }
 #availableCharacters {
	margin-left: 0px;
	margin-bottom: 0px;
 }
 #enemiesAvailable {
 	margin-left: 0px;
 	visibility: hidden;
 }
 #defenders {
 	margin-left: 0px;
 	visibility: hidden;
 }
 #alertButton {
  visibility: hidden;
 }
 